/******************************
ESTILOS COLORES: colores.css;
*******************************/
.orange {
    color: #F78536;
}
.light-blue-grey {
    color: #DFEBED;
}
.blue {
    color: #497285;
}
.dark-blue {
    color: #2B4450;
}
.orange-bg {
    background-color: #F78536;
}
.light-blue-grey-bg {
    background-color: #DFEBED;
}
.blue-bg {
    background-color: #497285;
}
.dark-blue-bg {
    background-color: #2B4450;
}
.white {
    color: white !important
}
.br0 {color: #222;}     /*Color negro*/
.co1 {color: #777;}     /*Color gris*/
.coMULTI {color: #777;} /*Color gris*/
.es0 {color: #7C5D00;}  /*Color dorado*/
.fu0 {color: darkcyan;} /*Cyan oscuro*/
.kw1 {color: #AA00FF;}  /*ColorVioleta*/
.kw2 {color: #AA00FF;}  /*ColorVioleta*/
.nu0 {color: #7C5D00;}  /*Color dorado*/
.st0 {color: #305311;}  /*Color Verde Oscuro*/
.sy0 {color: #4e0079;}  /*Color Violeta Oscuro*/

pre {color: #333;}
pre.consola {
  background-color: #444;
  color: #F8F8FF;
}
pre.consola .cadena {color: #FFC300;}    /*Color Amarillo*/
pre.consola .condicion {color: #E33727;} /*Color Rojo*/
pre.consola .dorado {color: #7C5D00;}    /*Color Dorado*/
pre.consola .funcion {color: cyan;}      /*Color Cian*/
pre.consola .nota {color: #777;}         /*Color Gris*/
pre.consola .verde {color: #518f1e;}     /*Color Verde*/
pre.consola .violeta {color: #AA17FE;}   /*Color Violeta*/
/**/