/******************************
ESTILOS CONTENIDO TYPEOF: typeof.css;
*******************************/
#typeof {
	padding: 2rem;

	& .button {
		font-size: responsive 1.1rem 1.4rem;

		& big {
			display: inline-block;
			font-size: responsive 1.5rem 2.2rem;
			font-weight: bold;
			margin-bottom: .5rem;
		}
	}

	& pre.lead {
		font-size: responsive 1.1rem 1.4rem;
		font-weight: bold;
	}
}
/**/