						<div class="mt-1" id="abside">
						  <div class="text-center mb-3" id="iconos">
						    <a href="https://slicegroup.xyz/" target="_blank"><i class="fa fa-rocket fa-2x"></i></a>
						    <a href="https://www.linkedin.com/in/enrique-valerio-6b347b126/" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a>
						    <a href="https://github.com/Caballero73/XXXXXXXX" target="_blank"><i class="fa fa-github fa-2x"></i></a>            
						  </div>
						  <p class="text-center">Enrique Valerio <br>
						  <small>Junio 2018</small></p>
						  <br>
						  <cite>"Si el conocimiento puede crear problemas, no es con la ignorancia con lo que podremos resolverlos"</cite>
						</div>