      <!-- /////// Tabs para el contenido de cada tema -->
      <div class="row collapse mt-4">
        <div class="small-3 columns" data-sticky-container>
          <div class="sticky" data-sticky data-top-anchor="1top" id="abside-cont">
            <ul class="vertical tabs sticky" data-tabs id="cont-ppal-tabs">
              <!-- Conceptos fundamentales -->
              <li class="tabs-title is-active"><a href="#cont-ppal-tabs-panel1" aria-selected="true"><i class="fa fa-book fa-lg" aria-hidden="true"></i>&nbsp; <span class="">Conceptos fundamentales</span></a></li>
              <!-- Variables -->
              <li class="tabs-title"><a href="#cont-ppal-tabs-panel2"><i class="fa fa-cube fa-lg" aria-hidden="true"></i>&nbsp; <span class="">Variables</span></a></li>
              <!-- JavaScrip y HTML -->
              <li class="tabs-title"><a href="#cont-ppal-tabs-panel3"><i class="fa fa-html5 fa-lg" aria-hidden="true"></i>&nbsp; <span class="">JavaScrip y HTML</span></a></li>
            </ul>
            <div class="mt-1" id="abside">
              Enrique Valerio              
            </div>
          </div>
        </div><!-- /.columns -->

        <div class="columns" id="1top">
          <div class="tabs-content" data-tabs-content="cont-ppal-tabs">
            <!-- Conceptos fundamentales -->
            <div class="tabs-panel is-active" id="cont-ppal-tabs-panel1">
              @include('./partials/conceptos-fundamentales.html')
            </div>
            <!-- Variables -->
            <div class="tabs-panel" id="cont-ppal-tabs-panel2">
              @include('./partials/variable.html')              
            </div>
            <!-- JavaScrip y HTML -->
            <div class="tabs-panel" id="cont-ppal-tabs-panel3">
              @include('./partials/javascript-y-html.html')
            </div>
            <div class="tabs-panel" id="cont-ppal-tabs-panel4">
              <p>Cuatro</p>
              <img class="thumbnail" src="assets/img/nave-1.jpg" width="100%">
            </div>
            <div class="tabs-panel" id="cont-ppal-tabs-panelXXX">
              <p>Cinco</p>
              <p class="lead">Si el conocimiento puede crear problemas, no es con la ignorancia con lo que podremos resolverlos</p>
            </div>
          </div><!-- /.tabs-content -->
        </div><!-- /.columns -->
      </div><!-- /.row collapse -->
    </div><!-- /.contenedor -->
  </section>
  <!-- /. CONTENIDO PÁGINA -->