      <!-- /////// Tabs para el contenido de cada tema -->
      <div class="row collapse mt-4">
        <div class="small-3 columns" data-sticky-container>
          <div class="sticky" data-sticky data-top-anchor="1top" id="abside-cont">
            <ul class="vertical tabs sticky" data-tabs id="cont-ppal-tabs">
              <!-- Ámbito de las variables -->
              <li class="tabs-title is-active"><a href="#cont-ppal-tabs-panel1" aria-selected="true"><i class="fa fa-object-group fa-lg" aria-hidden="true">&nbsp; </i><span class="tabs-items">Ámbito de las variables</span></a></li>
              <!-- Arrays o Matrices -->
              <li class="tabs-title"><a href="#cont-ppal-tabs-panel2"><b>[...]&nbsp; </b><span class="tabs-items">Arrays o Matrices</span></a></li>
              <!-- Recorrer Matrices -->
              <li class="tabs-title"><a href="#cont-ppal-tabs-panel3"><b>[</b><small><i class="fa fa-repeat fa-lg" aria-hidden="true"></i></small><b>]&nbsp; </b><span class="tabs-items">Recorrer Matrices</span></a></li>
              <!-- Bucle While -->
              <li class="tabs-title"><a href="#cont-ppal-tabs-panel4"><b>f( )&nbsp; </b><span class="tabs-items">Expresiones Funcionales</span></a></li>
              <!-- Hoisting (Alzado) -->
              <li class="tabs-title"><a href="#cont-ppal-tabs-panel5"><i class="fa fa-arrow-up fa-lg" aria-hidden="true">&nbsp; </i><span class="tabs-items">Hoisting (Alzado)</span></a></li>
              <!-- Closures -->
              <li class="tabs-title"><a href="#cont-ppal-tabs-panel6"><i class="fa fa-file-code-o fa-lg" aria-hidden="true">&nbsp; </i><span class="tabs-items">Closures (Clausuras)</span></a></li>
              <!-- Objetos -->
              <li class="tabs-title"><a href="#cont-ppal-tabs-panel7"><b>{...}&nbsp; </b><span class="tabs-items">Objetos</span></a></li>
              <!-- Estructura switch -->
              <li class="tabs-title"><a href="#cont-ppal-tabs-panel8"><i class="fa fa-toggle-on fa-lg" aria-hidden="true"></i></i>&nbsp; <span class="tabs-items">Estructura switch</span></a></li>
              <!-- Operadores -->
              <li class="tabs-title"><a href="#cont-ppal-tabs-panel9"><i class="fa fa-list-alt fa-lg" aria-hidden="true"></i></i>&nbsp; <span class="tabs-items">Operadores</span></a></li>
              <!-- Funciones nativas -->
              <li class="tabs-title"><a href="#cont-ppal-tabs-panel10"><i class="fa fa-window-restore fa-lg" aria-hidden="true"></i></i>&nbsp; <span class="tabs-items">Funciones nativas</span></a></li>
              <!-- Operador typeof -->
              <li class="tabs-title"><a href="#cont-ppal-tabs-panel11"><i class="fa fa-puzzle-piece fa-lg" aria-hidden="true"></i></i>&nbsp; <span class="tabs-items">Operador typeof</span></a></li>
              <!-- Creación de funciones -->
              <li class="tabs-title"><a href="#cont-ppal-tabs-panel12"><i class="fa fa-code fa-lg" aria-hidden="true"></i></i>&nbsp; <span class="tabs-items">Creación de funciones</span></a></li>
            </ul>
            @include('./partials/abside.html')            
          </div>
        </div><!-- /.columns -->

        <div class="columns" id="1top">
          <div class="tabs-content" data-tabs-content="cont-ppal-tabs">
            <!-- Ámbito de las variables -->
            <div class="tabs-panel is-active" id="cont-ppal-tabs-panel1">
              @include('./partials/ambito-variables.html')
            </div>
            <!-- Arrays o Matrices -->
            <div class="tabs-panel" id="cont-ppal-tabs-panel2">
              @include('./partials/matrices.html')              
            </div>
            <!-- Recorrer Matrices -->
            <div class="tabs-panel" id="cont-ppal-tabs-panel3">
              @include('./partials/recorrer-matrices.html')
            </div>
            <!-- Expresiones Funcionales -->
            <div class="tabs-panel" id="cont-ppal-tabs-panel4">
              @include('./partials/expresiones-funcionales.html')
            </div>
            <!-- Hoisting (Alzado) -->
            <div class="tabs-panel" id="cont-ppal-tabs-panel5">
              @include('./partials/hoisting.html')
            </div>
            <!-- Closures (Clausuras)-->
            <div class="tabs-panel" id="cont-ppal-tabs-panel6">
              @include('./partials/closures.html')
            </div>
            <!-- Objetos -->
            <div class="tabs-panel" id="cont-ppal-tabs-panel7">
              @include('./partials/objetos.html')
            </div>
            <!-- Estructura switch -->
            <div class="tabs-panel" id="cont-ppal-tabs-panel8">
              @include('./partials/switch.html')
            </div>
            <!-- Operadores -->
            <div class="tabs-panel" id="cont-ppal-tabs-panel9">
              @include('./partials/operadores.html')
            </div>
            <!-- Funciones nativas -->
            <div class="tabs-panel" id="cont-ppal-tabs-panel10">
              @include('./partials/func-nativas.html')
            </div>
            <!-- Operador typeof -->
            <div class="tabs-panel" id="cont-ppal-tabs-panel11">
              @include('./partials/typeof.html')
            </div>
            <!-- Creación de funciones -->
            <div class="tabs-panel" id="cont-ppal-tabs-panel12">
              @include('./partials/funciones.html')
              
            </div>
          </div><!-- /.tabs-content -->
        </div><!-- /.columns -->
      </div><!-- /.row collapse -->
    </div><!-- /.contenedor -->
  </section>
  <!-- /. CONTENIDO PÁGINA -->