      <!-- /////// Tabs para el contenido de cada tema -->
      <div class="row collapse mt-4">
        <div class="small-3 columns" data-sticky-container>
          <div class="sticky" data-sticky data-top-anchor="1top" id="abside-cont">
            <ul class="vertical tabs sticky" data-tabs id="cont-ppal-tabs">
              <!-- Ámbito de las variables -->
              <li class="tabs-title is-active"><a href="#cont-ppal-tabs-panel1" aria-selected="true"><i class="fa fa-object-group fa-lg" aria-hidden="true"></i>&nbsp; <span class="">Ámbito de las variables</span></a></li>
              <!-- Variables -->
              <li class="tabs-title"><a href="#cont-ppal-tabs-panel2"><i class="fa fa-cube fa-lg" aria-hidden="true"></i>&nbsp; <span class="">Variables</span></a></li>
              <!-- JavaScrip y HTML -->
              <li class="tabs-title"><a href="#cont-ppal-tabs-panel3"><i class="fa fa-html5 fa-lg" aria-hidden="true"></i>&nbsp; <span class="">JavaScrip y HTML</span></a></li>
              <!-- Bucle While -->
              <li class="tabs-title"><a href="#cont-ppal-tabs-panel4"><i class="fa fa-repeat fa-lg" aria-hidden="true"></i>&nbsp; <span class="">Bucle while</span></a></li>
              <!-- Bucle For -->
              <li class="tabs-title"><a href="#cont-ppal-tabs-panel5"><i class="fa fa-undo fa-lg" aria-hidden="true"></i>&nbsp; <span class="">Bucle for</span></a></li>
              <!-- Bucle do while -->
              <li class="tabs-title"><a href="#cont-ppal-tabs-panel6"><i class="fa fa-hand-o-up fa-lg" aria-hidden="true"></i>&nbsp; <span class="">Bucle do...while</span></a></li>
              <!-- Estructura if...else -->
              <li class="tabs-title"><a href="#cont-ppal-tabs-panel7"><i class="fa fa-dot-circle-o fa-lg" aria-hidden="true"></i></i>&nbsp; <span class="">Estructura if...else</span></a></li>
              <!-- Estructura switch -->
              <li class="tabs-title"><a href="#cont-ppal-tabs-panel8"><i class="fa fa-toggle-on fa-lg" aria-hidden="true"></i></i>&nbsp; <span class="">Estructura switch</span></a></li>
              <!-- Operadores -->
              <li class="tabs-title"><a href="#cont-ppal-tabs-panel9"><i class="fa fa-list-alt fa-lg" aria-hidden="true"></i></i>&nbsp; <span class="">Operadores</span></a></li>
              <!-- Funciones nativas -->
              <li class="tabs-title"><a href="#cont-ppal-tabs-panel10"><i class="fa fa-window-restore fa-lg" aria-hidden="true"></i></i>&nbsp; <span class="">Funciones nativas</span></a></li>
              <!-- Operador typeof -->
              <li class="tabs-title"><a href="#cont-ppal-tabs-panel11"><i class="fa fa-puzzle-piece fa-lg" aria-hidden="true"></i></i>&nbsp; <span class="">Operador typeof</span></a></li>
              <!-- Creación de funciones -->
              <li class="tabs-title"><a href="#cont-ppal-tabs-panel12"><i class="fa fa-code fa-lg" aria-hidden="true"></i></i>&nbsp; <span class="">Creación de funciones</span></a></li>
            </ul>
            @include('./partials/abside.html')            
          </div>
        </div><!-- /.columns -->

        <div class="columns" id="1top">
          <div class="tabs-content" data-tabs-content="cont-ppal-tabs">
            <!-- Ámbito de las variables -->
            <div class="tabs-panel is-active" id="cont-ppal-tabs-panel1">
              @include('./partials/ambito-variables.html')
            </div>
            <!-- Variables -->
            <div class="tabs-panel" id="cont-ppal-tabs-panel2">
              @include('./partials/variable.html')              
            </div>
            <!-- JavaScrip y HTML -->
            <div class="tabs-panel" id="cont-ppal-tabs-panel3">
              @include('./partials/javascript-y-html.html')
            </div>
            <!-- Bucle While -->
            <div class="tabs-panel" id="cont-ppal-tabs-panel4">
              @include('./partials/bucle-while.html')
            </div>
            <!-- Bucle For -->
            <div class="tabs-panel" id="cont-ppal-tabs-panel5">
              @include('./partials/bucle-for.html')
            </div>
            <!-- Bucle do while -->
            <div class="tabs-panel" id="cont-ppal-tabs-panel6">
              @include('./partials/bucle-do-while.html')
            </div>
            <!-- Estructura if...else -->
            <div class="tabs-panel" id="cont-ppal-tabs-panel7">
              @include('./partials/if-else.html')
            </div>
            <!-- Estructura switch -->
            <div class="tabs-panel" id="cont-ppal-tabs-panel8">
              @include('./partials/switch.html')
            </div>
            <!-- Operadores -->
            <div class="tabs-panel" id="cont-ppal-tabs-panel9">
              @include('./partials/operadores.html')
            </div>
            <!-- Funciones nativas -->
            <div class="tabs-panel" id="cont-ppal-tabs-panel10">
              @include('./partials/func-nativas.html')
            </div>
            <!-- Operador typeof -->
            <div class="tabs-panel" id="cont-ppal-tabs-panel11">
              @include('./partials/typeof.html')
            </div>
            <!-- Creación de funciones -->
            <div class="tabs-panel" id="cont-ppal-tabs-panel12">
              @include('./partials/funciones.html')
              
            </div>
          </div><!-- /.tabs-content -->
        </div><!-- /.columns -->
      </div><!-- /.row collapse -->
    </div><!-- /.contenedor -->
  </section>
  <!-- /. CONTENIDO PÁGINA -->