<!doctype html>
<html class="no-js" lang="es">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Aprendiendo JavaScript</title>
  <meta name="description" content="JavaScript es un poderoso lenguaje de programación que puede ser aplicado a un documento HTML y usado para crear interactividad dinámica en los sitios web. Fue inventado por Brendan Eich, co-fundador del proyecto Mozilla, Mozilla Foundation y la Corporación Mozilla.">
  <link rel="shortcut icon" href="assets/img/favicon.ico">
  <link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css' />
  <link rel="stylesheet" type="text/css" href="assets/css/app.min.css" />
</head>

<body>
	<!-- /////// Botón para ir al principio -->
	<a class="hide-for-small-only" href="#inicio">
	  <i class="fa fa-chevron-circle-up fa-2x ir-arriba"></i>
	</a>
	<!-- */Botón para ir al principio -->

  <!-- ********** CONTENIDO PÁGINA -->
  <section id="cont-ppal" class="">
    <header id="cont-ppal-header">
      <nav class="contenedor">
        <div class="row">
          <div class="columns"><h1 id="cont-ppal-header-h1"><i class="fa fa-terminal fa-lg" aria-hidden="true"></i> Aprendiendo JavaScript</h1></div>
          <div class="shrink columns">¡Encogida!</div>
          <div class="shrink columns">¡Encogida!</div>
          <div class="shrink columns">¡Encogida!</div>
        </div>
              
      </nav>      
    </header>
    <div class="contenedor">
      <p>JavaScript es un poderoso lenguaje de programación que puede ser aplicado a un documento HTML y usado para crear interactividad dinámica en los sitios web. Fue inventado por Brendan Eich, co-fundador del proyecto Mozilla, Mozilla Foundation y la Corporación Mozilla.</p>
      <cite class="pull-right">Fuente: <a href="https://developer.mozilla.org/es/docs/Learn/Getting_started_with_the_web/JavaScript_basics">Fundamentos de JavaScript</a></cite>
      <br>
      <blockquote>
        "Si el conocimiento puede crear problemas, no es con la ignorancia con lo que podremos resolverlos"
      </blockquote>