  <!-- ********** Definiendo filas -->
  <section id="javascript-y-html" class="">
    <h2>JavaScrip y HTML</h2>    
    <div class="contenedor">
      <p>Para poder continuar en el aprendizaje de JavaScrip, es necesario que dejemos a un lado la consola de nuestro navegador y pasemos a usar un editor de código tal como Sublime Text, Atom, Braquet, etc... (el que mas nos guste).</p>
      <br>
      <p><b>• grid-template-rows</b> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum..</p>
      
      
    </div><!-- /.contenedor -->
  </section>
  <!-- /. Definiendo columnas -->