  <!-- ********** Matrices -->
  <section id="matrices" class="">
    <div class="contenedor">
      <h2>Arrays o Matrices</h2>
      <p>En ocasiones, a los arrays se les llama vectores, matrices e incluso arreglos. No obstante, el término <b>array</b> es el más utilizado y es una palabra comúnmente aceptada en el entorno de la programación.</p>
      <br>
      <div class="stacked-for-small button-group">
        <a class="button hollow primary" href="#basico"><big>Lo básico</big></a>
        <a class="button hollow primary" href="#acceder"><big>Acceder elementos</big></a>
        <a class="button hollow primary" href="#metodos"><big>Métodos de matrices</big></a>
        <a class="button hollow primary" href="#ejemplo_m1"><big>Ejemplo uso de métodos</big></a>
        <a class="button hollow primary" href="#multidimencionales"><big>Arrays Multidimencionales</big></a>
        <a class="button hollow primary" href="#ejemplo"><big>Ejemplo</big></a>
      </div>
      <br>

      <h3 id="basico">Lo básico</h3>
      <p>Un array es una colección de variables, que pueden ser todas del mismo tipo o cada una de un tipo diferente. Su utilidad se comprende mejor con un ejemplo sencillo... Si una aplicación necesita manejar los países de Suramérica, se podrían crear doce variables de tipo texto:</p>
      <!-- Argentina, Bolivia, Brasil, Chile, Colombia, Ecuador, Guyana, Paraguay, Perú, Surinam, Uruguay y Venezuela. -->
      <pre class="lead">
      <span class="kw1">var</span> pais1 <span class="sy0">=</span> <span class="st0">"Argentina"</span><span class="sy0">;</span>
      <span class="kw1">var</span> pais2 <span class="sy0">=</span> <span class="st0">"Bolivia"</span><span class="sy0">;</span>
      ...
      <span class="kw1">var</span> pais12 <span class="sy0">=</span> <span class="st0">"Venezuela"</span><span class="sy0">;</span>
      </pre>
      <p>Este código no es incorrecto, pero si poco eficiente y complica en exceso la programación. Si en vez de los países se tuviera que guardar el nombre de de todos los países del mundo o las mediciones diarias de marea de los últimos 100 años, se tendrían que crear decenas o cientos de variables.</p>
      <p>En este tipo de casos, se pueden agrupar todas las variables relacionadas en una colección de variables o array. El ejemplo anterior se puede rehacer de la siguiente forma:</p>
      <pre class=""><b>
      <span class="kw1">var</span> paises <span class="sy0">=</span> <span class="br0">[</span><span class="st0">"Argentina" <span class="sy0">,</span> "Bolivia" <span class="sy0">,</span> "Brasil" <span class="sy0">,</span>
      "Chile" <span class="sy0">,</span> "Colombia" <span class="sy0">,</span> "Ecuador" <span class="sy0">,</span> "Guyana" <span class="sy0">,</span> "Paraguay" <span class="sy0">,</span>
      "Perú" <span class="sy0">,</span> "Surinam" <span class="sy0">,</span> "Uruguay" <span class="sy0">,</span> "Venezuela"</span><span class="br0">]</span><span class="sy0">;</span>
      </b></pre>
      <p>Ahora, una única variable llamada <code>paises</code> almacena todos los valores relacionados entre sí, en este caso los <b>países de Suramérica</b>.</p>
      <p>Para definir un array, se utilizan los caracteres <code>[</code> y <code>]</code> para delimitar su comienzo y su final y se utiliza el carácter <code>,</code> (coma) para separar sus elementos:</p>      
      <br>
      <pre class="lead">
      <span class="kw1">var</span> nombre_array <span class="sy0">=</span> <span class="br0">[</span>valor1<span class="sy0">,</span> valor2<span class="sy0">,</span> ...<span class="sy0">,</span> valorN<span class="br0">]</span><span class="sy0">;</span>
      </pre>

      <h3 id="acceder">Acceder elementos de un array</h3>
      <p>Una vez definido un array, es muy fácil acceder a cada uno de sus elementos.</p>
      <p>A cada uno se accede indicando su posición en el array. La único que debemos tener en consideración, que es responsable de muchos errores cuando se empieza a programar, es que las posiciones de los elementos <b>empiezan a contarse en el <code>0</code> y no en el <code>1</code>:</b></p>
      <pre class=""><b>
      <span class="kw1">var</span> paises <span class="sy0">=</span> <span class="br0">[</span><span class="st0">"Argentina" <span class="sy0">,</span> "Bolivia" <span class="sy0">,</span> "Brasil" <span class="sy0">,</span>
      "Chile" <span class="sy0">,</span> "Colombia" <span class="sy0">,</span> "Ecuador" <span class="sy0">,</span> "Guyana" <span class="sy0">,</span> "Paraguay" <span class="sy0">,</span>
      "Perú" <span class="sy0">,</span> "Surinam" <span class="sy0">,</span> "Uruguay" <span class="sy0">,</span> "Venezuela"</span><span class="br0">]</span><span class="sy0">;</span>

      <span class="kw1">var</span> primerPais <span class="sy0">=</span> paises<span class="br0">[</span><span class="nu0">0</span><span class="br0">]</span><span class="sy0">;</span>         <span class="co1">// primerPais = "Argentina"</span>
      <span class="kw1">var</span> paisSeleccionado <span class="sy0">=</span> paises<span class="br0">[</span><span class="nu0">10</span><span class="br0">]</span><span class="sy0">;</span>  <span class="co1">// paisSeleccionado = "Uruguay"</span>
      <span class="kw1">var</span> paisCafetero <span class="sy0">=</span> paises<span class="br0">[</span><span class="nu0">4</span><span class="br0">]</span><span class="sy0">;</span>       <span class="co1">// paisCafetero = "Colombia"</span>
      </b></pre>
      <p>En el ejemplo, la primera instrucción quiere obtener el primer elemento del array. Para eso, se indica el nombre del array y entre corchetes la posición del elemento dentro del array. Como se ha comentado, las posiciones se empiezan a contar en el <code>0</code>, por lo que el primer elemento ocupa la posición <code>0</code> y se accede a el mediante <code>paises[0]</code>.</p>
      <p>El valor <code>paises[10]</code> hace referencia al elemento que ocupa la onceava posición dentro del array <code>paises</code> el valor <code>Uruguay</code>. Como las posiciones empiezan a contarse en <code>0</code>, la posición <code>4</code> hace referencia al quinto elemento, en este caso, el valor <code>Colombia</code>.</p>
      <p>Si deseamos podemos cambiar en valor de un elemento de un array, accediendo a él con el mismo procedimiento ya descrito.</p>
      <pre class=""><b>
      <span class="kw1">var</span> numeros <span class="sy0">=</span> <span class="br0">[</span> <span class="nu0">1</span> <span class="sy0">,</span> <span class="nu0">2</span> <span class="sy0">,</span> <span class="nu0">3</span> <span class="br0">]</span><span class="sy0">;</span>
      <span class="kw1">console.log</span>(numeros);    <span class="co1">// Muestra esto [1, 2, 3]</span>
      <span class="kw1">console.log</span>(numeros[<span class="nu0">1</span>]); <span class="co1">// Muestra 2</span>
      numeros[<span class="nu0">0</span>] = <span class="st0">"primero"</span>;  <span class="co1">// Cambia el valor</span>
      <span class="kw1">console.log</span>(numeros[<span class="nu0">0</span>]); <span class="co1">// Muestra esto "primero"</span>
      </b></pre>
      <p class="callout warning">Un array puede contener variables de varios tipos (string, números, booleanos, etc.) sin nigún problema.</p>
      <br>

      <h3 id="metodos">Métodos de arrays o matrices</h3>
      <p>A continuación se muestran algunas de las funciones más útiles para el manejo de arrays:</p>
      <br>

      <h4><code>shift()</code></h4>
      <p>Elimina el primer elemento del array y lo devuelve. El array original se modifica y su longitud disminuye una unidad.</p>
      <pre class="lead">
      <span class="kw1">var</span> array <span class="sy0">=</span> <span class="br0">[</span><span class="nu0">1</span><span class="sy0">,</span> <span class="nu0">2</span><span class="sy0">,</span> <span class="nu0">3</span><span class="br0">]</span><span class="sy0">;</span>
      <span class="kw1">var</span> primero <span class="sy0">=</span> array.<span class="me1">shift</span><span class="br0">(</span><span class="br0">)</span><span class="sy0">;</span>
      <span class="co1">// ahora array = [2, 3]</span>
      <span class="kw1">console.log</span>(primero); <span class="co1">// Muestra 1</span>
      </pre>

      <h4><code>pop()</code></h4>
      <p>Elimina el último elemento del array y lo devuelve. El array original se modifica y su longitud disminuye en 1 elemento.</p>
      <pre class="lead">
      <span class="kw1">var</span> array <span class="sy0">=</span> <span class="br0">[</span><span class="nu0">1</span><span class="sy0">,</span> <span class="nu0">2</span><span class="sy0">,</span> <span class="nu0">3</span><span class="br0">]</span><span class="sy0">;</span>
      <span class="kw1">var</span> ultimo <span class="sy0">=</span> array.<span class="me1">pop</span><span class="br0">(</span><span class="br0">)</span><span class="sy0">;</span>
      <span class="co1">// ahora array = [1, 2], ultimo = 3</span>
      </pre>

      <h4><code>unshift()</code></h4>
      añade un elemento al principio del array. El array original se modifica y aumenta su longitud en 1 elemento. (También es posible añadir más de un elemento a la vez)</p>
      <pre class="lead">
      <span class="kw1">var</span> array <span class="sy0">=</span> <span class="br0">[</span><span class="nu0">1</span><span class="sy0">,</span> <span class="nu0">2</span><span class="sy0">,</span> <span class="nu0">3</span><span class="br0">]</span><span class="sy0">;</span>
      array.<span class="me1">unshift</span><span class="br0">(</span><span class="nu0">0</span><span class="br0">)</span><span class="sy0">;</span>
      <span class="co1">// ahora array = [0, 1, 2, 3]</span>
      </pre>

      <h4><code>push()</code></h4>
      Añade un elemento al final del array. El array original se modifica y aumenta su longitud en 1 elemento. (También es posible añadir más de un elemento a la vez)</p>
      <pre class="lead">
      <span class="kw1">var</span> array <span class="sy0">=</span> <span class="br0">[</span><span class="nu0">1</span><span class="sy0">,</span> <span class="nu0">2</span><span class="sy0">,</span> <span class="nu0">3</span><span class="br0">]</span><span class="sy0">;</span>
      array.<span class="me1">push</span><span class="br0">(</span><span class="nu0">4</span><span class="br0">)</span><span class="sy0">;</span>
      <span class="co1">// ahora array = [1, 2, 3, 4]</span>
      </pre>

      <h4><code>reverse()</code></h4>
      <p>Modifica un array colocando sus elementos en el orden inverso a su posición original:</p>
      <pre class="lead">
      <span class="kw1">var</span> array <span class="sy0">=</span> <span class="br0">[</span><span class="nu0">1</span><span class="sy0">,</span> <span class="nu0">2</span><span class="sy0">,</span> <span class="nu0">3</span><span class="br0">]</span><span class="sy0">;</span>
      array.<span class="me1">reverse</span><span class="br0">(</span><span class="br0">)</span><span class="sy0">;</span>
      <span class="co1">// ahora array = [3, 2, 1]</span>
      </pre>

      <h4><code>splice()</code></h4>
      <p>Quita elementos de una matriz, inserta nuevos elementos en su lugar si procede y devuelve los elementos eliminados.</p>
      <p><b>Sintaxis:</b></p>
      <pre><b>array.splice(start, deleteCount, [item1[, item2[, . . . [,itemN]]]])<b></pre>
      <p class="mt-2"><code>array</code> Array sobre el que se actua, es obligatorio.</p>
      <p><code>start</code> Inicio (basado en cero de la matriz) desde donde va a comenzar a quitar/agregar elementos, es obligatorio.</p>
      <p><code>deleteCount</code> Número de elementos que se va a quitar, si se deja en 0 no elimina nada, por lo que este ,étodo funciona en este caso para añadir elementos. Es obligatorio que figure una cifra, así sea 0.</p>
      <p><code>item1, item2,. . ., itemN</code> Elementos que se van a insertar en la matriz en lugar de los elementos eliminados. Es opcional.</p>
      <p class="mt-3"><b>Ejemplo eliminando elementos:</b></p>
      <pre class="lead">
      <span class="kw1">var</span> array <span class="sy0">=</span> <span class="br0">[</span><span class="nu0">1</span><span class="sy0">,</span> <span class="nu0">2</span><span class="sy0">,</span> <span class="nu0">3</span><span class="sy0">,</span> <span class="nu0">4</span><span class="sy0">,</span> <span class="nu0">5</span><span class="br0">]</span><span class="sy0">;</span>
      array.<span class="me1">splice</span><span class="br0">(</span> <span class="nu0">1</span><span class="sy0">,</span> <span class="nu0">2</span> <span class="br0">)</span><span class="sy0">;</span>
      <span class="co1">// ahora array = [1, 4, 5]</span>
      </pre>
      <p class="mt-1"><b>Ejemplo añadiendo elementos:</b></p>
      <pre class="lead">
      <span class="kw1">var</span> array <span class="sy0">=</span> <span class="br0">[</span><span class="nu0">1</span><span class="sy0">,</span> <span class="nu0">4</span><span class="sy0">,</span> <span class="nu0">5</span><span class="br0">]</span><span class="sy0">;</span>
      array.<span class="me1">splice</span><span class="br0">(</span> <span class="nu0">1</span><span class="sy0">,</span> <span class="nu0">0</span><span class="sy0">,</span> <span class="nu0">2</span><span class="sy0">,</span> <span class="nu0">3</span> <span class="br0">)</span><span class="sy0">;</span>
      <span class="co1">// ahora array = [1, 2, 3, 4, 5]</span>
      </pre>

      <h4><code>indexOf()</code></h4>
      <p>Calcula la primera posición en la que se encuentra el elemento indicado dentro del array. Si no contiene el elemento, la función devuelve el valor <code>-1</code>:</p>
      <pre class="lead">
      <span class="kw1">var</span> array <span class="sy0">=</span> <span class="br0">[</span><span class="nu0">1</span><span class="sy0">,</span> <span class="nu0">2</span><span class="sy0">,</span> <span class="nu0">3</span><span class="sy0">,</span> <span class="nu0">4</span><span class="sy0">,</span> <span class="nu0">5</span><span class="br0">]</span><span class="sy0">;</span>
      <span class="kw1">var</span> posicion <span class="sy0">=</span> array.<span class="me1">indexOf</span><span class="br0">(</span><span class="st0">3</span><span class="br0">)</span><span class="sy0">;</span> <span class="co1">// posicion = 2</span>
      posicion <span class="sy0">=</span> array.<span class="me1">indexOf</span><span class="br0">(</span><span class="st0">7</span><span class="br0">)</span><span class="sy0">;</span> <span class="co1">// posicion = -1</span>
      </pre>

      <h3 id="ejemplo_m1">Ejemplo uso de métodos</h3>
      <p>A continuación una función muy sencilla donde ponemos en práctica lo aprendido sobre métodos para los arrays</p>
      <pre class="consola">

      <span class="funcion">var</span> colores <span class="condicion">=</span> [<span class="cadena">'amarillo'</span> , <span class="cadena">'azul'</span> , <span class="cadena">'aguamarina'</span> , <span class="cadena">'beige'</span> ,
      <span class="cadena">'blanco'</span> , <span class="cadena">'dorado'</span> , <span class="cadena">'gris'</span> , <span class="cadena">'negro'</span> , <span class="cadena">'marrón'</span> , '<span class="cadena">rojo'</span> ,
      <span class="cadena">'verde'</span> , <span class="cadena">'vinotinto'</span>];

      <span class="funcion">alert</span>(<span class="cadena">"Los colores disponibles son: "</span> <span class="condicion">+</span> colores);
      <span class="funcion">var</span> colorElegido  <span class="condicion">=</span>  <span class="funcion">prompt</span>(<span class="cadena">'Ingrese el color que desee borrar:'</span>);
      colorElegido <span class="condicion">=</span> colorElegido.<span class="funcion">toLowerCase</span>();

      <span class="funcion">function</span> <span class="verde">borrarColor</span>(<span class="dorado">color</span>,<span class="dorado">matriz</span>) {

            <span class="funcion">var</span> indice <span class="condicion">=</span> matriz.<span class="funcion">indexOf</span>(color);

            <span class="condicion">if</span> (indice <span class="condicion">></span> <span class="condicion">-</span><span class="violeta">1</span>) {
                  <span class="nota">// El color SI existe</span>
                  matriz.<span class="funcion">splice</span>(indice,<span class="violeta">1</span>);
            }
            <span class="condicion">else</span> {
                  <span class="nota">// El color no existe</span>
                  <span class="funcion">alert</span>(<span class="cadena">'Este color no existe en la matriz.'</span>)
            }
      }

      <span class="funcion">borrarColor</span>(colorElegido, colores);
      <span class="funcion">alert</span>(<span class="cadena">"Los colores que quedaron son: "</span> <span class="condicion">+</span> colores);                  
      </pre>
      <button id="ejemploMetodoArray" class="button primary mt-1">Ver resultado del ejemplo</button>      
      <br>

      <h3 id="multidimencionales">Arrays Multidimencionales</h3>
      <p>Veamos qué son los arrays multidimensionales (arrays de más de una dimensión) y cómo utilizarlos. Además de cómo inicializar arrays en su declaración.</p>
      <p>Los arrays son bastante importantes en Javascript y también en la mayoría de los lenguajes de programación. En concreto ya hemos aprendido a crear arrays y utilizarlos. Pero aun nos quedan algunas cosas importantes, como son los arrays de varias dimensiones.</p>
      <p> Los <b>arrays multidimensionales</b> son un estructuras de datos que almacenan los valores en más de una dimensión. Los arrays que hemos visto hasta ahora almacenan valores en <em>una dimensión</em>, por eso para acceder a las posiciones utilizamos tan <em>solo un índice</em>. Los arrays de 2 dimensiones guardan sus valores, por decirlo de alguna manera, en filas y columnas y por ello necesitaremos <b>por lo menos dos índices</b> para acceder a cada una de sus posiciones.</p>
      <p class="primary callout">Dicho de otro modo, un array multidimensional es como un contenedor que guardara más valores para cada posición, es decir, los elementos del array son a su vez otros arrays.</p>

    </div><!-- /.contenedor -->
  </section>