  <!-- ********** Operadores -->
  <section id="operadores" class="">
    <div class="contenedor">
      <h2>Operadores</h2>
      <p>Los operadores permiten manipular el valor de las variables, realizar operaciones matemáticas con sus valores y comparar diferentes variables. De esta forma, los operadores permiten a los programas realizar cálculos complejos y tomar decisiones lógicas en función de comparaciones y otros tipos de condiciones.</p>
      <p>Estos son los tipos de operadores que usaremos:</p>
      <br>
      <div class="stacked-for-small button-group">
        <a class="button hollow primary" href="#asignacion"><big>=</big><br>Asignación</a>
        <a class="button hollow primary" href="#incremento_y_decremento"><big>++  --</big><br>Incremento y decremento</a>
        <a class="button hollow primary" href="#negacion"><big>!</big><br>Negación</a>
        <a class="button hollow primary" href="#and"><big>&amp;&amp;</big><br>AND</a>
        <a class="button hollow primary" href="#or"><big>||</big><br>OR</a>
        <a class="button hollow primary" href="#matematicos"><big>+ - / *</big><br>Matemáticos</a>
        <a class="button hollow primary" href="#relacionales"><big>&lt;/&gt;</big><br>Relacionales</a>
      </div>
      <br>

      <h3 id="asignacion">Asignación</h3>
      <p>El operador de asignación es el más utilizado y el más sencillo. Se utiliza para guardar un valor específico en una variable. El símbolo es <code>=</code> (no confundir con el operador <code>==</code> que se verá más adelante):</p>
      <pre class="lead">
      <span class="kw1">var</span> numero1 <span class="sy0">=</span> <span class="nu0">3</span><span class="sy0">;</span>
      </pre>
      <p>A la izquierda del operador, siempre debe indicarse el nombre de una variable. A la derecha del operador, se indican variables, valores, condiciones lógicas, etc:</p>
      <pre class="lead">
      <span class="kw1">var</span> numero1 <span class="sy0">=</span> <span class="nu0">3</span><span class="sy0">;</span>
      <span class="kw1">var</span> numero2 <span class="sy0">=</span> <span class="nu0">4</span><span class="sy0">;</span>
      </pre>      
      <p>A continuación vemos un <b>Error</b>, la asignación siempre se realiza a una variable, por lo que en la izquierda no se puede indicar un número.</p>
      <pre class="lead">
      <span class="nu0">5</span> <span class="sy0">=</span> numero1<span class="sy0">;</span>
      &nbsp;
      <span class="co1">// Ahora, la variable numero1 vale 5</span>
      numero1 <span class="sy0">=</span> <span class="nu0">5</span><span class="sy0">;</span>
      &nbsp;
      <span class="co1">// Ahora, la variable numero1 vale 4</span>
      <span class="kw1">var</span> numero2 <span class="sy0">=</span> <span class="nu0">4</span><span class="sy0">;</span>
      &nbsp;
      numero1 <span class="sy0">=</span> numero2<span class="sy0">;</span></pre>
      <br>

      <h3 id="incremento_y_decremento">Incremento y decremento</h3>
      <p>Estos 2 operadores son válidos únicamente para las variables numéricas y se utilizan para incrementar o decrementar en 1 unidad el valor de la misma.</p>
      <p><b>Ejemplo:</b></p>
      <pre class="lead">
      <span class="kw1">var</span> numero <span class="sy0">=</span> <span class="nu0">5</span><span class="sy0">;</span>
      <span class="sy0">++</span>numero<span class="sy0">;</span>
      <span class="co1">// numero = 6</span>
      </pre>
      <p>El operador de incremento se indica mediante el prefijo <code>++</code> en el nombre de la variable. El resultado es que el valor de esa variable se incrementa en una unidad.</p>
      <p>Por tanto, el anterior ejemplo es equivalente a:</p>
      <pre><b>
      <span class="kw1">var</span> numero <span class="sy0">=</span> <span class="nu0">5</span><span class="sy0">;</span>
      numero <span class="sy0">=</span> numero <span class="sy0">+</span> <span class="nu0">1</span><span class="sy0">;</span>
      <span class="co1">// numero = 6</span>
      </b></pre>
      <p>De forma equivalente, el operador decremento (indicado como un prefijo <code>--</code> en el nombre de la variable) se utiliza para decrementar el valor de la variable:</p>
      <pre class="lead">
      <span class="kw1">var</span> numero <span class="sy0">=</span> <span class="nu0">5</span><span class="sy0">;</span>
      <span class="sy0">--</span>numero<span class="sy0">;</span>
      alert<span class="br0">(</span>numero<span class="br0">)</span><span class="sy0">;</span>  <span class="co1">// numero = 4</span>
      </pre>
      <p>El anterior ejemplo es equivalente a:</p>
      <pre><b>
      <span class="kw1">var</span> numero <span class="sy0">=</span> <span class="nu0">5</span><span class="sy0">;</span>
      numero <span class="sy0">=</span> numero <span class="sy0">-</span> <span class="nu0">1</span><span class="sy0">;</span>
      alert<span class="br0">(</span>numero<span class="br0">)</span><span class="sy0">;</span>  <span class="co1">// numero = 4</span>
      </b></pre>
      <p>Los operadores de incremento y decremento no solamente se pueden indicar como prefijo del nombre de la variable, sino que también es posible utilizarlos como sufijo. En este caso, su comportamiento es similar en apariencia; pero muy diferente en el fondo.</p>
      <pre class=""><b>
      <span class="kw1">var</span> numero <span class="sy0">=</span> <span class="nu0">5</span><span class="sy0">;</span>
      numero<span class="sy0">++;</span>
      <span class="co1">// numero = 6</span>
      </b></pre>
      <p>El resultado de ejecutar el script anterior es el mismo que cuando se utiliza el operador <code>++numero</code>, por lo que puede parecer que es equivalente indicar el operador <code>++</code> delante o detrás del identificador de la variable. Sin embargo, el siguiente ejemplo muestra sus diferencias:</p>
      <pre class="lead">
      <span class="kw1">var</span> numero1 <span class="sy0">=</span> <span class="nu0">5</span><span class="sy0">;</span>
      <span class="kw1">var</span> numero2 <span class="sy0">=</span> <span class="nu0">2</span><span class="sy0">;</span>
      numero3 <span class="sy0">=</span> numero1<span class="sy0">++</span> <span class="sy0">+</span> numero2<span class="sy0">;</span>
      <span class="co1">// numero3 = 7, numero1 = 6</span>
      &nbsp;
      <span class="kw1">var</span> numero1 <span class="sy0">=</span> <span class="nu0">5</span><span class="sy0">;</span>
      <span class="kw1">var</span> numero2 <span class="sy0">=</span> <span class="nu0">2</span><span class="sy0">;</span>
      numero3 <span class="sy0">=</span> <span class="sy0">++</span>numero1 <span class="sy0">+</span> numero2<span class="sy0">;</span>
      <span class="co1">// numero3 = 8, numero1 = 6</span>
      </pre>
      <p class="callout">Si el operador <code>++</code> se indica como prefijo de la variable, su valor se incrementa <strong>antes</strong> de realizar cualquier otra operación. Si el operador <code>++</code> se indica como sufijo del identificador de la variable, su valor se incrementa <strong>después</strong> de ejecutar la sentencia en la que aparece.</p>
      <p>Por tanto en <code>numero3 = numero1++ + numero2;</code>, el valor de <code>numero1</code> se incrementa después de realizar la operación (primero se suma y <code>numero3</code> vale <code>7</code>, después se incrementa el valor de <code>numero1</code> y vale <code>6</code>).</p>
      <p>Mientras, en la instrucción <code>numero3 = ++numero1 + numero2;</code>, en primer lugar se incrementa el valor de <code>numero1</code> y después se realiza la suma (primero se incrementa <code>numero1</code> y vale <code>6</code>, después se realiza la suma y <code>numero3</code> vale <code>8</code>).</p>
      <br>

      <h3 id="negacion">Negación</h3>
      <p>Uno de los operadores lógicos (booleanos) más utilizados. Obtiene el valor contrario al valor de la variable:</p>
      <pre class="lead">
      <span class="kw1">var</span> visible <span class="sy0">=</span> <span class="kw2">true</span><span class="sy0">;</span>
      <span class="kw1">var</span> !visible <span class="sy0">=</span> <span class="kw2">true</span><span class="sy0">;</span>
      <span class="co1">// Muestra "false" y no "true"</span>
      </pre>
      <p>La negación lógica se obtiene prefijando el símbolo <code>!</code> a la variable. El funcionamiento de este operador se resume en la siguiente tabla:</p>
      <table>
        <thead>
          <tr>
            <th>variable</th>
            <th>!variable</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><code>true</code></td>
            <td><code>false</code></td>
          </tr>
          <tr>
            <td><code>false</code></td>
            <td><code>true</code></td>
          </tr>
        </tbody>
      </table>
      <p>Si la variable es de tipo <em>booleano</em>, es muy sencillo obtener su negación. Sin embargo, ¿qué sucede cuando la variable es un número o una cadena de texto? Para obtener la negación en este tipo de variables, se realiza en primer lugar su conversión a un valor <em>booleano</em>:</p>
      <ul>
      <li>Si la variable contiene un número: <em>Se transforma en <code>false</code> si vale <code>0</code> y en <code>true</code> para cualquier otro número (positivo o negativo, decimal o entero).</em></li>
        <li>Si la variable contiene una cadena de texto: <em>Se transforma en <code>false</code> si la cadena es vacía (<code>""</code>) y en <code>true</code> en cualquier otro caso.</em></li>
      </ul>
      <pre class=""><b>
      <span class="kw1">var</span> cantidad <span class="sy0">=</span> <span class="nu0">0</span><span class="sy0">;</span>
      vacio <span class="sy0">=</span> <span class="sy0">!</span>cantidad<span class="sy0">;</span>  <span class="co1">// vacio = true</span>
      &nbsp;
      cantidad <span class="sy0">=</span> <span class="nu0">2</span><span class="sy0">;</span>
      vacio <span class="sy0">=</span> <span class="sy0">!</span>cantidad<span class="sy0">;</span>  <span class="co1">// vacio = false</span>
      &nbsp;
      <span class="kw1">var</span> mensaje <span class="sy0">=</span> <span class="st0">""</span><span class="sy0">;</span>
      mensajeVacio <span class="sy0">=</span> <span class="sy0">!</span>mensaje<span class="sy0">;</span>  <span class="co1">// mensajeVacio = true</span>
      &nbsp;
      mensaje <span class="sy0">=</span> <span class="st0">"Bienvenido"</span><span class="sy0">;</span>
      mensajeVacio <span class="sy0">=</span> <span class="sy0">!</span>mensaje<span class="sy0">;</span>  <span class="co1">// mensajeVacio = false</span>
      </b></pre>
      <br>

      <h3 id="and">AND</h3>

      <p>La operación lógica <code>AND</code> obtiene su resultado <b>combinando dos valores booleanos</b>. El operador se indica mediante el símbolo <code>&amp;&amp;</code> y su resultado solamente es <code>true</code> si los dos operandos son <code>true</code>:</p>
      <table>
        <thead>
          <tr>
            <th>variable1</th>
            <th>variable2</th>
            <th>variable1 &amp;&amp; variable2</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><code>true</code></td>
            <td><code>true</code></td>
            <td><code>true</code></td>
          </tr>
          <tr>
            <td><code>true</code></td>
            <td><code>false</code></td>
            <td><code>false</code></td>
          </tr>
          <tr>
            <td><code>false</code></td>
            <td><code>true</code></td>
            <td><code>false</code></td>
          </tr>
          <tr>
            <td><code>false</code></td>
            <td><code>false</code></td>
            <td><code>false</code></td>
          </tr>
        </tbody>
      </table>
      <br>
      <pre class="lead">
      <span class="kw1">var</span> valor1 <span class="sy0">=</span> <span class="kw2">true</span><span class="sy0">;</span>
      <span class="kw1">var</span> valor2 <span class="sy0">=</span> <span class="kw2">false</span><span class="sy0">;</span>
      resultado <span class="sy0">=</span> valor1 <span class="sy0">&amp;&amp;</span> valor2<span class="sy0">;</span> <span class="co1">// resultado = false</span>
      &nbsp;
      valor1 <span class="sy0">=</span> <span class="kw2">true</span><span class="sy0">;</span>
      valor2 <span class="sy0">=</span> <span class="kw2">true</span><span class="sy0">;</span>
      resultado <span class="sy0">=</span> valor1 <span class="sy0">&amp;&amp;</span> valor2<span class="sy0">;</span> <span class="co1">// resultado = true</span></pre>
      <br>

      <h3 id="or">OR</h3>
      <p>La operación lógica <code>OR</code> también <b>combina dos valores booleanos</b>. El operador se indica mediante el símbolo <code>||</code> y su resultado es <code>true</code> si alguno de los dos operandos es <code>true</code>:</p>
      <table>
        <thead>
          <tr>
            <th>variable1</th>
            <th>variable2</th>
            <th><code>variable1 || variable2</code></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><code>true</code></td>
            <td><code>true</code></td>
            <td><code>true</code></td>
          </tr>
          <tr>
            <td><code>true</code></td>
            <td><code>false</code></td>
            <td><code>true</code></td>
          </tr>
          <tr>
            <td><code>false</code></td>
            <td><code>true</code></td>
            <td><code>true</code></td>
          </tr>
          <tr>
            <td><code>false</code></td>
            <td><code>false</code></td>
            <td><code>false</code></td>
          </tr>
        </tbody>
      </table>
      <br>
      <pre class="lead">
      <span class="kw1">var</span> valor1 <span class="sy0">=</span> <span class="kw2">true</span><span class="sy0">;</span>
      <span class="kw1">var</span> valor2 <span class="sy0">=</span> <span class="kw2">false</span><span class="sy0">;</span>
      resultado <span class="sy0">=</span> valor1 <span class="sy0">||</span> valor2<span class="sy0">;</span> <span class="co1">// resultado = true</span>
      &nbsp;
      valor1 <span class="sy0">=</span> <span class="kw2">false</span><span class="sy0">;</span>
      valor2 <span class="sy0">=</span> <span class="kw2">false</span><span class="sy0">;</span>
      resultado <span class="sy0">=</span> valor1 <span class="sy0">||</span> valor2<span class="sy0">;</span> <span class="co1">// resultado = false</span>
      </pre>
      <br>

      <h3 id="matematicos">Matemáticos</h3>
      <p>JavaScript permite realizar operaciones matemáticas sobre el valor de las variables numéricas. Los operadores definidos son: suma (<code>+</code>), resta (<code>-</code>), multiplicación (<code>*</code>) y división (<code>/</code>).</p>
      <p><b>Ejemplo:</b></p>
      <pre class=""><b>
      <span class="kw1">var</span> numero1 <span class="sy0">=</span> <span class="nu0">10</span><span class="sy0">;</span>
      <span class="kw1">var</span> numero2 <span class="sy0">=</span> <span class="nu0">5</span><span class="sy0">;</span>
      &nbsp;
      resultado <span class="sy0">=</span> numero1 <span class="sy0">/</span> numero2<span class="sy0">;</span>  <span class="co1">// resultado = 2</span>
      resultado <span class="sy0">=</span> <span class="nu0">3</span> <span class="sy0">+</span> numero1<span class="sy0">;</span>        <span class="co1">// resultado = 13</span>
      resultado <span class="sy0">=</span> numero2 – <span class="nu0">4</span><span class="sy0">;</span>        <span class="co1">// resultado = 1</span>
      resultado <span class="sy0">=</span> numero1 <span class="sy0">*</span> numero <span class="nu0">2</span><span class="sy0">;</span> <span class="co1">// resultado = 50</span>
      </b>
      </pre>
      <p>Además de los cuatro operadores básicos, JavaScript define otro operador matemático que no es sencillo de entender cuando se estudia por primera vez, pero que es muy útil en algunas ocasiones.</p>
      <p>Se trata del operador <em>"módulo"</em>, que calcula el resto de la división entera de dos números. Si se divide por ejemplo <code>10</code> y <code>5</code>, la división es exacta y da un resultado de <code>2</code>. El resto de esa división es <code>0</code>, por lo que <code>módulo de 10 y 5</code> es igual a <code>0</code>.</p>
      <p>Sin embargo, si se divide <code>9</code> y <code>5</code>, la división no es exacta, el resultado es <code>1</code> y el resto <code>4</code>, por lo que <code>módulo de 9 y 5</code> es igual a <code>4</code>.</p>
      <p>El operador módulo en JavaScript se indica mediante el símbolo <code>%</code>, que no debe confundirse con el cálculo del porcentaje:</p>
      <pre class=""><b>
      <span class="kw1">var</span> numero1 <span class="sy0">=</span> <span class="nu0">10</span><span class="sy0">;</span>
      <span class="kw1">var</span> numero2 <span class="sy0">=</span> <span class="nu0">5</span><span class="sy0">;</span>
      resultado <span class="sy0">=</span> numero1 <span class="sy0">%</span> numero2<span class="sy0">;</span> <span class="co1">// resultado = 0</span>
      &nbsp;
      numero1 <span class="sy0">=</span> <span class="nu0">9</span><span class="sy0">;</span>
      numero2 <span class="sy0">=</span> <span class="nu0">5</span><span class="sy0">;</span>
      resultado <span class="sy0">=</span> numero1 <span class="sy0">%</span> numero2<span class="sy0">;</span> <span class="co1">// resultado = 4</span>
      </b></pre>
      <p>Los operadores matemáticos también se pueden combinar con el operador de asignación para abreviar su notación:</p>
      <pre class=""><b>
      <span class="kw1">var</span> numero1 <span class="sy0">=</span> <span class="nu0">5</span><span class="sy0">;</span>
      numero1 <span class="sy0">+=</span> <span class="nu0">3</span><span class="sy0">;</span>  <span class="co1">// numero1 = numero1 + 3 = 8</span>
      numero1 <span class="sy0">-=</span> <span class="nu0">1</span><span class="sy0">;</span>  <span class="co1">// numero1 = numero1 - 1 = 4</span>
      numero1 <span class="sy0">*=</span> <span class="nu0">2</span><span class="sy0">;</span>   <span class="co1">// numero1 = numero1 * 2 = 10</span>
      numero1 <span class="sy0">/=</span> <span class="nu0">5</span><span class="sy0">;</span>   <span class="co1">// numero1 = numero1 / 5 = 1</span>
      numero1 <span class="sy0">%=</span> <span class="nu0">4</span><span class="sy0">;</span>   <span class="co1">// numero1 = numero1 % 4 = 1</span>
      </b>
      </pre>
      <br>

      <h3 id="relacionales">Relacionales</h3>
      <p>Los operadores relacionales de JavaScript son iguales a los que definen las matemáticas: mayor que (<code>&gt;</code>), menor que (<code>&lt;</code>), mayor o igual (<code>&gt;=</code>), menor o igual (<code>&lt;=</code>), igual que (<code>==</code>) y distinto de (<code>!=</code>).</p>
      <p class="callout warning">Los operadores que relacionan variables son imprescindibles para realizar cualquier aplicación compleja. El resultado de todos estos operadores siempre es un valor booleano:</p>
      <pre class=""><strong>
      <span class="kw1">var</span> numero1 <span class="sy0">=</span> <span class="nu0">3</span><span class="sy0">;</span>
      <span class="kw1">var</span> numero2 <span class="sy0">=</span> <span class="nu0">5</span><span class="sy0">;</span>
      resultado <span class="sy0">=</span> numero1 <span class="sy0">&gt;</span> numero2<span class="sy0">;</span> <span class="co1">// resultado = false</span>
      resultado <span class="sy0">=</span> numero1 <span class="sy0">&lt;</span> numero2<span class="sy0">;</span> <span class="co1">// resultado = true</span>
      &nbsp;
      numero1 <span class="sy0">=</span> <span class="nu0">5</span><span class="sy0">;</span>
      numero2 <span class="sy0">=</span> <span class="nu0">5</span><span class="sy0">;</span>
      resultado <span class="sy0">=</span> numero1 <span class="sy0">&gt;=</span> numero2<span class="sy0">;</span> <span class="co1">// resultado = true</span>
      resultado <span class="sy0">=</span> numero1 <span class="sy0">&lt;=</span> numero2<span class="sy0">;</span> <span class="co1">// resultado = true</span>
      resultado <span class="sy0">=</span> numero1 <span class="sy0">==</span> numero2<span class="sy0">;</span> <span class="co1">// resultado = true</span>
      resultado <span class="sy0">=</span> numero1 <span class="sy0">!=</span> numero2<span class="sy0">;</span> <span class="co1">// resultado = false</span>
      </strong></pre>
      <br>
      <p>Se debe tener especial cuidado con el operador de igualdad (<code>==</code>), ya que es el origen de la mayoría de errores de programación, incluso para los usuarios que ya tienen cierta experiencia desarrollando scripts. El operador <code>==</code> se utiliza para comparar el valor de dos variables, por lo que es muy diferente del operador <code>=</code>, que se utiliza para asignar un valor a una variable:</p>
      <pre class=""><b>
      <span class="co1">// El operador "=" asigna valores</span>
      <span class="kw1">var</span> numero1 <span class="sy0">=</span> <span class="nu0">5</span><span class="sy0">;</span>
      resultado <span class="sy0">=</span> numero1 <span class="sy0">=</span> <span class="nu0">3</span><span class="sy0">;</span>  <span class="co1">// numero1 = 3 y resultado = 3</span>
      &nbsp;
      <span class="co1">// El operador "==" compara variables</span>
      <span class="kw1">var</span> numero1 <span class="sy0">=</span> <span class="nu0">5</span><span class="sy0">;</span>
      resultado <span class="sy0">=</span> numero1 <span class="sy0">==</span> <span class="nu0">3</span><span class="sy0">;</span> <span class="co1">// numero1 = 5 y resultado = false</span>
      </b></pre>
      <br>
      <p><b>Los operadores relacionales también se pueden utilizar con variables de tipo cadena de texto:</b></p>
      <pre class=""><b>
      <span class="kw1">var</span> texto1 <span class="sy0">=</span> <span class="st0">"hola"</span><span class="sy0">;</span>
      <span class="kw1">var</span> texto2 <span class="sy0">=</span> <span class="st0">"hola"</span><span class="sy0">;</span>
      <span class="kw1">var</span> texto3 <span class="sy0">=</span> <span class="st0">"adios"</span><span class="sy0">;</span>
      &nbsp;
      resultado <span class="sy0">=</span> texto1 <span class="sy0">==</span> texto3<span class="sy0">;</span> <span class="co1">// resultado = false</span>
      resultado <span class="sy0">=</span> texto1 <span class="sy0">!=</span> texto2<span class="sy0">;</span> <span class="co1">// resultado = false</span>
      resultado <span class="sy0">=</span> texto3 <span class="sy0">&gt;=</span> texto2<span class="sy0">;</span> <span class="co1">// resultado = false</span>
      </b></pre>
      <p>Cuando se utilizan cadenas de texto, los operadores "mayor que" (<code>&gt;</code>) y "menor que" (<code>&lt;</code>) siguen un razonamiento no intuitivo: se compara letra a letra comenzando desde la izquierda hasta que se encuentre una diferencia entre las dos cadenas de texto.</p>
      <p>Para determinar si una letra es mayor o menor que otra</p>
      <ul>
        <li>Las mayúsculas se consideran menores que las minúsculas (<code>A</code> es menor que <code>a</code>).</li>
        <li>Las primeras letras del alfabeto son menores que las últimas (<code>a</code> es menor que <code>b</code>, <code>b</code> es menor que <code>c</code>, etc.).</p>        
      </ul>
      <br>
    </div><!-- /.contenedor -->
  </section>